<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852635784115-pfei2i727hsa60a109gfnapmbp01cig5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852635784115-pfei2i727hsa60a109gfnapmbp01cig5</string>
	<key>API_KEY</key>
	<string>AIzaSyDR3n83UbJeNOIhmIHwOcURB9NoHwYkex0</string>
	<key>GCM_SENDER_ID</key>
	<string>852635784115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ultrainha.najottalim</string>
	<key>PROJECT_ID</key>
	<string>najottalim-aa473</string>
	<key>STORAGE_BUCKET</key>
	<string>najottalim-aa473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852635784115:ios:e33a6779883bda66bfb1c6</string>
	<key>DATABASE_URL</key>
	<string>https://najottalim-aa473-default-rtdb.firebaseio.com</string>
</dict>
</plist>